@CHARSET "UTF-8";


html{
  color: #000;
  background-color: #FFF;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td
{ margin:0; padding:0; }
a{
   text-decoration:none;
   color: rgb(0, 0, 0);
}
em,
strong,
b,
u,
i
  { font-style:normal;
    font-weight:normal;
  }
table {
  border-collapse:collapse;
}
ol,
ul,
li {
  list-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight:normal;
  font-size:100%;
}
input,
textarea,
select,
button {
  font:14px Verdana,Helvetica,Arial,sans-serif;
}
input, textarea {
    outline: none;
    border: none;
}
img {
  border:0 none;
}
body {
background:#fff;
color:#555;
font-size:14px;
font-family:
Verdana,
Arial,
Helvetica,
sans-serif;
}
input{-webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;}